.wrapper-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1.title{
  text-align: center;
}
p {
  margin-top: 1rem;
  font-size: 1.4rem;
}
#textarea {
  border-radius: 0.2rem;
  margin: 0 auto;
  border: 1px $color-light solid;
  box-shadow: 1px red;
  width: 65rem;
  height: 10rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  resize: none;

  &:focus {
   // border: 1px $color-light solid;
    outline: none;
  }
}


.keyboard {
  display: flex;  
  flex-wrap: wrap;
  gap: 0.3rem;
  width: 65rem; //(35*15) -10
  margin: 0 auto;
  font-size: 1.4rem;
}
.keyboard__btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: $color-light;
  color: $color-letter;
  height: 4rem;
  min-width: 4rem;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }  
  &.dark{
    background-color: $color-main; 
  }
  &.large {//back, caps, shift
    width: 9rem;
  }
  &.shift_left {// shiftLeft
    width: 13rem;
  }
  &.shift_right {// shiftLeft
    width: 6.1rem;
  }
  &.del {
    min-width: 3rem;
    width: 35px;
  }
  &.enter{//enter
    width: 8.1rem;
  } 
  &.medium_tab {// tab
    width: 5rem;
  }
  &.medium_ctrl {//ctrl
    width: 6.3rem;
  }
  &.space {
    width: 25.6rem;
  }
  &.active {
    background-color: $color-active;
  }
}

.btn__inner_option {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  font-size: 0.9rem;
}